body {
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#lista-de-tarefas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem;
}

/*MEDIA QUERY*/
/*@media(min-width: 768px) {
    #lista-de-tarefas {

        grid-template-columns: repeat(2, 1fr);
    }
}*/
